<div class="contactsForm">
    <h3 class="titleLevel3 contactsForm__title">Напишите нам</h3>
    <input class="contactsForm__name input js-message-fio" type="text" value="" placeholder="ФИО *">
    <input class="contactsForm__email input js-message-email" type="text" value="" placeholder="Электронная почта *">
    <input class="contactsForm__phone input js-message-phone" type="text" value="" placeholder="Телефон" style="display: none">
    <textarea class="contactsForm__message textarea js-message-text" placeholder="Сообщение *"></textarea>
    <div class="contactsForm__error js-message-error"></div>
    <div class="contactsForm__success js-message-success"></div>
    <label class="contactsForm__agreement checkbox">
        <input type="checkbox" value="" class="js-message-agree" checked>
        <span class="checkmark"></span>
        <span>Согласие на обработку <a href="/politika_konfidencialnosti" target="_blank" class="link">персональных данных</a></span>
    </label>
    <div class="contactsForm__btn">
        <button class="btn btnRose js-send-message">Отправить</button>
    </div>
</div>